.header {
  background: linear-gradient(40deg, #35023a, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(97, 96, 96, 0.5));
}
