.header {
  -webkit-text-stroke: 1px #743dae;
  background: linear-gradient(90deg, #35023a, #ea00ff, #03d5ff, #03d5ff);
  background-clip: text;
  color: transparent;
  background-position: -1400px 0;
  animation: backwardscolor 7s linear infinite alternate;
}

@keyframes backwardscolor{
  100%{
    background-position: 0 0;
  }
}
